<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="1"
      android:versionName="1.0" package="od_monitor.app">
    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
   
    <application android:icon="@drawable/incu_shaker_icon" 
                 android:label="@string/app_name"
                 android:name="od_monitor.app.ODMonitorApplication"
                 debuggable="true">
        <activity android:name="od_monitor.app.ODMonitorActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleTask" android:screenOrientation="reversePortrait">
                  <!-- android:theme="@android:style/Theme.Black.NoTitleBar"> -->
 
            <intent-filter>
               <action android:name="android.intent.action.MAIN" />
               <category android:name="android.intent.category.LAUNCHER" />   
            </intent-filter>
               
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
            
        </activity>
        <activity android:name="org.achartengine.chartdemo.demo.chart.ODChartActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"
                  android:launchMode="singleTask" android:screenOrientation="reversePortrait"/>
        
        <activity android:name="org.achartengine.GraphicalActivity" android:launchMode="singleTask" android:screenOrientation="reversePortrait"/>
        
        
        <activity android:name="od_monitor.script.ScriptActivityList"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:launchMode="standard" android:screenOrientation="reversePortrait"/>
        
        <activity android:name="od_monitor.script.ScriptSettingActivity"
                  android:label="Script Setting"
                  android:theme="@style/ScriptSettingTheme"
                  android:launchMode="standard" android:screenOrientation="reversePortrait"/>
        
        <activity android:name="od_monitor.script.StepScriptActivityList"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:launchMode="standard" android:screenOrientation="reversePortrait"/>
        
        <activity android:name="od_monitor.script.StepScriptSettingActivity"
                  android:label="Script Setting"
                  android:theme="@style/ScriptSettingTheme"
                  android:launchMode="standard" android:screenOrientation="reversePortrait"/>
        
        <activity android:name="od_monitor.mail.EmailSettingActivity"
                  android:label="Email Alert Setting"
                  android:theme="@style/EmailSettingTheme"
                  android:launchMode="standard" android:screenOrientation="reversePortrait"/>
        <!-- <activity
	         android:name="org.achartengine.chartdemo.demo.chart.XYChartBuilder"
	         android:theme="@android:style/Theme.Dialog" >
	    </activity> -->
        
       <!--  <receiver android:name=".LEDActivity.mUsbReceiver">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED"/>
            </intent-filter>
        </receiver> -->
        
        <receiver android:name="od_monitor.app.LedAppWidgetProvider" 
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget" />
        </receiver>
    </application>
</manifest>